<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
  <insert id="add" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO
      `user` (
          id,
          name,
          phone,
          sex,
          id_number,
          avator
      )
      VALUES
      (
        #{id},
        #{name},
        #{phone},
        #{sex},
        #{idNumber},
        IFNULL(#{avator}, 'XXX')
      );
  </insert>

  <update id="update">
    UPDATE user
    <set>
      <if test="name != null">
        name = #{name}
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="sex != null">
        sex = #{sex},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber},
      </if>
    </set>
    WHERE id = #{id};
  </update>

  <delete id="delete">
    <!-- 默认array @Param("array")
      @Param("ids") int[] ids
    -->

    DELETE FROM `user` WHERE id IN
    (
      <foreach collection="ids" item="id" separator=",">
        #{id}
      </foreach>
    );
  </delete>

  <select id="select" resultType="user">
    SELECT * FROM user;
  </select>

  <select id="selectByDeptId" resultType="user">
    SELECT * FROM user WHERE id = #{dept.id};
  </select>
</mapper>
